.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media print {
  .main {
    padding: 0;
  }
  .statSumField {
    display: none;
    height: 0;
  }
  .coverPage {
    margin: 0;
    page-break-after: always;
  }
}

.statSumField {
  align-self: stretch;
  padding: 4px;
}

.coverPage {
  font-family: serif;
  font-size: 18px;
  width: 8.5in;
  padding: 1in;
  background-color: white;
  color: black;
  margin: 0.25in;
}

.tripNumber {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

.tripName {
  margin-top: 1em;
  margin-bottom: 1em;
}

.stats {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}

.numShots {
  margin-left: 1em;
}

.excluded {
  display: flex;
  margin-left: 10em;
}

.excludedLength,
.numExcludedShots {
  margin-left: 1em;
}

.team {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.shots {
  margin-left: 8em;
}
.shots td {
  padding-left: 1em;
  white-space: nowrap;
}
